<!DOCTYPE html>
<html>
 <head>
    <meta charset="Utf-8">
    <title> Some Website </title>
 </head>
 <body>  
    
    {{> header}}  
    <p>{{screamIt WelcomeMessage}}</p>

    {{> footer}}
 </body>
</html>
