<!DOCTYPE html>
<html>
 <head>
    <meta charset="Utf-8">
    <title> Some Website </title>
 </head>
 <body>  
   <h1> We Will be right back </h1>
    <p> the site is currently updated </p>
   
 </body>
</html>
